@import url('https://fonts.googleapis.com/css2?family=Playwrite+TZ+Guides&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/photos/body-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Playwrite TZ Guides", serif;
    margin-top: 25px;
    margin-left: 25px;
}

nav a {
    color: yellow;
}